@charset 'utf-8';

html,
body {
    height: 100%;
    font-size: 62.5%;
}

#inp {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    flex: 1;
    background-color: #a80b16;
    display: flex;
    align-items: center;
    justify-content: center;
    .searchBox {
        width: 50rem;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 1.4rem;
        background-color: #fff;
        @media screen and(max-width: 900px) {
            &{
                width: 40rem;
            }
        }
        @media screen and(max-width: 620px) {
            &{
                width: 30rem;
            }
        }
        @media screen and(max-width: 420px) {
            &{
                width: 25rem;
            }
        }
        input {
            border: 0;
            outline: 0;
        }
        .scanIn {
            flex: 5;
            height: 100%;
            float: right;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 1.6rem;
        }

        .search {
            flex: 1;
            height: 100%;
            margin: auto;
            display: block;
            font-size: 1.6rem;
        }
    }
}

.content {
    width: 100%;
    margin: 0 auto;
    background: radial-gradient(#E8E8E8, #fff);
    flex: 5;
    p {
        margin-bottom: 0;
    }
    .resultTip {
        width: 80%;
        display: block;
        margin: 0 auto;
        line-height: 1.6rem;
        font-size: 1.6rem;
        i {
            font-size: inherit;
        }
    }
    .defaultTip {
        font-size: 1.6rem;
        line-height: 1.6rem;
        height: 1.6rem;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        margin-top: -.8rem;
    }
    .resultList {
        width: 80%;
        display: block;
        margin: .5rem auto 0 auto;
        padding: 0;
        .resultItem {
            width: 100%;
            height: 10%;
            min-height: 10%;
            max-height: 10%;
            padding: .25rem 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: space-between;
            font-size: 1.2rem;
            .resultImg {
                width: 3rem;
                display: block;
                float: left; // flex: 1;
            }
            .songName {
                flex: 5;
                line-height: 1.2rem;
                padding-left: .5rem;
            }
            .singerName {
                flex: 3;
                line-height: 1.2rem;
            }
            &:nth-child(2n) {
                background-color: #fff;
            }
            &:nth-child(2n+1) {
                background-color: #E8E8E8;
            }
        }
    }
}

footer {
    background-color: #000; // filter: blur(1px);
    // -webkit-filter: blur(1px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    #audio {
        background-color: #000;
        color: #fff;
        display: none;
    }
}